/******** Sizing and Layout *********/
* {
  box-sizing: border-box;
}

body {
  min-width: 940px;
}

.logo {
  max-height: 200px;
  margin: 0 auto;
}

.game-container {
  height: 500px;
  padding: 10px;
}

.question-area, .play-area {
  height: 100%;
}

.question-area, .play-area {
  padding: 20px;
}

.play-area .row {
  margin-bottom: 20px;
}

#question-image {
  max-height: 350px;
  margin: 0 auto;
  border-radius: 20px;
  border: solid 8px black;
}

#question, #question-image {
  margin-bottom: 20px;
}

/******** Colors ***********/
body {
  background-color: grey;
}

.game-container {
  background: black;
  border-radius: 10px;
}

.question-area {
  background: white;
  border-radius: 10px;
}

.play-area {
  background: white;
  border-radius: 10px;
}

/********* Text Styles *********/
.game-container {
  font-family: 'Voltaire', sans-serif;
}

.question-area  {
  font-size: 24px;
}

.play-area {
  font-size: 18px;
}

.play-area .row p {
  line-height: 30px;
}

.bottom-border {
  border-bottom: 2px solid #000;
}

.answer-char {
  margin: 0 2px;
  color: white;
}

#word-display {
  letter-spacing: 8px;
  user-select: none;
}

#wrong-guesses {
  letter-spacing: 8px;
  overflow-wrap: break-word;
}
