/******** Sizing and Layout *********/
* {
  box-sizing: border-box;
}

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.game-container {
  height: 60vh;
}

.question-area {
  padding: 0 auto;
  margin-bottom: 20px;
}

.mbottom {
  margin-bottom: 20px;
}

#question-image {
  border-radius: 10px;
  margin: 0 auto;
}

.blur {
  -webkit-animation: blur 30s linear forwards;
  -moz-animation: blur 30s linear forwards;
  -ms-animation: blur 30s linear forwards;
  -o-animation: blur 30s linear forwards;
  animation: blur 30s linear forwards;

}

@-webkit-keyframes blur {
  0% { -webkit-filter: blur(20px);}
  100% { -webkit-filter: blur(0px);}
}

@-moz-keyframes blur {
  0% { -webkit-filter: blur(20px);}
  100% { -webkit-filter: blur(0px);}
}

@keyframes blur {
  0% { -webkit-filter: blur(20px);}
  100% { -webkit-filter: blur(0px);}
}

/******** Colors ***********/
.header-text, .play-area, #question {
  color: #FFFFFF;
}


/********* Text Styles *********/
.header-text {
  font-size: 72px;
  font-family: 'Raleway', sans-serif;
  border-bottom: 2px solid #FFFFFF;
  margin-bottom: 20px;
}

.play-area, #question {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

.bottom-border {
  border-bottom: 2px solid #FFFFFF;
}

.answer-char {
  margin: auto 2px;
  color: #000000;
}

#word-display, #wrong-guesses {
  font-size: 36px;
  font-family: 'Cousine', monospace;
}

#word-display {
  line-height: 60px;
  letter-spacing: 8px;
  user-select: none;
  color: black;
}

#wrong-guesses {
  letter-spacing: 8px;
  overflow-wrap: break-word;
}

@media screen and (max-width: 1055px) {
  .header-text {
    font-size: 60px;
  }
}

@media screen and (max-width: 684px) {
  .header-text {
    font-size: 42px;
  }
}

@media screen and (max-width: 530px) {
  .header-text {
    font-size: 28px;
  }
}
